<header class="border-b-4 border-dashed border-secondary">
  <div class="container mx-auto flex flex-col items-center p-8">
    <a href="/" class="text-center font-script text-4xl font-black text-accent">
      Inventory Application
    </a>
  </div>
</header>
