<header
  class="fixed top-0 z-10 w-full border-b-4 border-dashed border-secondary bg-bg p-5 text-center shadow-lg shadow-black sm:relative sm:p-8 sm:shadow-none"
>
  <a href="/" class="font-script text-4xl font-black text-accent">
    Inventory Application
  </a>
</header>
