<header
  class="fixed top-0 z-10 w-full border-b-4 border-dashed border-secondary bg-bg p-5 text-center shadow-lg shadow-black sm:relative sm:p-8 sm:shadow-none"
>
  <div class="flex items-center justify-between max-w-7xl mx-auto">
    <a href="/" class="font-script text-4xl font-black text-accent">
      Inventory Application
    </a>
    <a href="/analytics" class="font-mono font-bold border-2 border-accent text-accent rounded-xl px-4 py-2 hover:scale-105 hover:shadow-md hover:shadow-accent">Analytics</a>
  </div>
</header>
