<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="bg-bg min-h-dvh flex flex-col text-white">
    <%- include("partials/header"); %>
    <main class="flex flex-col md:flex-row grow ">
      <aside class="w-1/6 py-5 px-3 border-r-4 border-dashed border-secondary flex flex-col items-center">
        <h1 class="font-script text-2xl font-bold text-white mb-5">Categories</h1>
        <h3 class="text-accent font-bold font-mono">All Categories</h3>
        <div class="h-[2px] bg-accent w-full my-5"></div>
        <% if(locals.allCategories.length != 0) { %>
          <%- include("partials/categories", { allCategories: locals.allCategories } );  %>
        <% } %>
      </aside>
      <section class="grow">
        <div class="flex flex-col gap-5 px-7 py-5">
          <h1 class="font-script text-2xl font-bold text-white">Items</h1>
          <% if(locals.allItems.length != 0) { %>
            <%- include("partials/items", { allItems: locals.allItems } );  %>
          <% } else { %>
            <div class="text-center font-mono text-accent">
              <h1 class="my-10 text-5xl md:text-7xl">Oops!</h1>
              <p class="text-center">There are no items in your inventory,</p>
              <p class="text-center">add more items to view them here.</p>
            </div>
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
